<h1 class="text-center"> Baked by {{reviews.name}}</h1>
<br>
<div class="container-fluid row">
  <div class="col">
<p class="text-left sp"><img [src]="reviews.url" alt="pic of cake"></p>
</div>
<div class="container col">
    <p>Average Rating: {{ avg }}</p> 
<div *ngFor="let x of reviews.reviews"> 
  <div data-spy="scroll" class="inline-block">
  <p>{{x.review}}</p>
  <p>{{x.comment}}</p>


</div>
</div>
</div>
</div>


<!-- <h1> Baked by {{reviews.name}}</h1>
<div class="row">
  <div class="col">
<img [src]="reviews.url" alt="pic of cake" class="col">
</div>
<div *ngFor="let x of reviews.reviews" class="col block"> 
  <div data-spy="scroll" class="col block">
    <h1>hello</h1>
  <p>{{x.review}}</p>
  <p>{{x.comment}}</p>
</div>

</div>
</div> -->