.sp{
    border: 2px solid aliceblue;

}

form {
    margin-left: 20px;
}

img {
    width:150px;
    height: 150px;
    vertical-align: top;
}

.top {
    margin-top: 20px;
}

.spp {
    width: 100%;
    overflow: scroll;
    height: 350px;

}

.rating {
    display: inline-block;
}